<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>hello</title>
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>

<body>

  <table class="hello">
    <thead id="hellos">
      <tr>
        <th data-name="id" data-asc=1>id</th>
        <th data-name="name">name</th>
        <th data-name="chinese" data-asc=1>chinese</th>
        <th data-name="math" data-asc=1>math</th>
        <th data-name="detele">detele</th>

      </tr>
    </thead>
    <tbody id="world">
      {{#each student}}
      <tr data-name={{id}}>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{chinese}}</td>
        <td>{{math}}</td>
        <td data-name={{id}}>删除</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="add">
    <br>
    name:&nbsp<input type="text" id="name">&nbsp&nbsp
    math:&nbsp<input type="text" id="math">&nbsp&nbsp
    chinese:&nbsp<input type="text" id="chinese">&nbsp&nbsp</br>
    <br>
    <input class="add1" id="add1" type="button" name="add" value="增加">
    </br>
  </div>

  <div class="put">
    <br>
    id:&nbsp<input type="text" id="Pid">&nbsp&nbsp
    name:&nbsp<input type="text" id="Pname">&nbsp&nbsp
    math:&nbsp<input type="text" id="Pmath">&nbsp&nbsp
    chinese:&nbsp<input type="text" id="Pchinese">&nbsp&nbsp</br>
    <br>
    <input class="put1" id="put1" type="button" name="put" value="修改">
    </br>


  </div>
</body>

</html>
